@layer base {
  *, *::before, *::after {
    @apply border-border outline-ring/50;
    box-sizing: border-box;
  }

  html {
    @apply font-sans;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    min-height: 100dvh;
    overflow-x: hidden;
  }
}